{
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-modules-commonjs"],
        "@babel/plugin-transform-runtime"
      ],
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
      ]
}